.main h1 {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 2.5em; /* slightly larger for more impact */
  color: #4a4a4a; /* a softer color that is widely used for modern typography */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
  letter-spacing: 0.05em; /* add some spacing to improve readability */
  font-weight: bold; /* make it bold to stand out */
  margin-bottom: 0.5em; /* add some space below the heading */
  text-transform: uppercase; /* style choice to make it uppercase */
  line-height: 1.2; /* improve line spacing if your title wraps */
}

.walletconnectprompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take full viewport height */
  text-align: center;
}

.walletconnectprompt p {
  font-size: 24px; /* Larger font size */
  font-weight: bold; /* Make it bold */
  color: #333; /* Darker text color for better readability */
  margin: 0;
  padding: 0;
}
